<div class="guess-list-skeleton">
  @for (item of dummyItems; track $index) {
    <div class="guess-card skeleton-pulse">
      <div class="line-header">
        <div class="skeleton-text line-number-skeleton"></div>
      </div>
  
      <div class="input-wrapper">
        <div class="skeleton-input"></div>
        <div class="skeleton-button-check"></div>
      </div>
  
      <div class="translation-area">
        <div class="skeleton-button-translate"></div>
      </div>
    </div>
  }
</div>
